body {

}

h1, h2, h3 {
  font-family: 'Poppins';
}

.main-nav {
  align-content: center;
  vertical-align: top;
}

.headerLogo {
  margin: 2vh 0;
  margin-left: 2vw;
  width: 30vw;
}

#main-call {
  background: #FFF;
  border: none;
  border-radius: 1px;
  color: hsl(265, 100%, 66%);
  float: right;
  font-size: .5rem;
  margin-right: 5vw;
  padding: 1vh 5vw;
  
}

.mockup {
  vertical-align: center;
  width: 80vw;

}

.introDecor {
  background: linear-gradient(180deg, hsl(322, 100%, 66%), hsl(265, 100%, 66%));
  border-radius: 35px;
  display: inline-block;
  height: 80vh;
  transform: skew(30deg, -35deg);
  position: absolute;
  z-index: -1;
  margin-left: 245px;
  margin-top: -95px;

  width: 60vw;
  
}

.usersImage {
  width: 80vw;
  margin: 0 auto;
}